<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.xiaobaicz.demo_viewbinding">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibRecyclerViewExtend"
        tools:ignore="AllowBackup">

        <activity android:name="cc.xiaobaicz.demo_viewbinding.MainActivity" android:screenOrientation="portrait"/>

        <activity-alias android:name="Launch" android:targetActivity="cc.xiaobaicz.demo_viewbinding.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

    </application>

</manifest>